header {
    text-align: center;
    background-color: #C4C4C4;
    color: white;
    padding: 3vh 0; // Ajusta el relleno en función del alto de la ventana
  
    h1 {
      font-size: 10vw; // Ajusta el tamaño del título en función del ancho de la ventana
      margin: 0;
      padding: 0;
    }
  }
  
